.headWrapper {
  display: flex;
  margin-bottom: 20px;
  /* margin-left: 20px; */
}

.iconWrapper {
  flex: 1;
  cursor: pointer;
}

.iconWrapper:hover {
  opacity: 0.8;
}

.headAction {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.headAction a {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #001e00;
}

.headAction a:last-child {
  margin-right: 60px;
}
